<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="assets/media/img/tecnoflow(2).png">
    <link rel="stylesheet" href="./assets/css/sucursales.css">
    
    <title>Tecno Flow</title>

 <style>
        html, body, div, iframe { margin:0; padding:0; height:100%; }
        iframe { display:block; width:100%; border:none; }
    </style> 

</head>

<body>
    <iframe src="../media/listado_de_sucursales.pdf" title="Listado de sucursales"></iframe>

</body>
</html>