<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d9e9994d5f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="assets/media/img/logonuevo3.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/pf.css">
    <script src="https://kit.fontawesome.com/3e48927320.js" crossorigin="anonymous"></script>
    <a href="https://www.flaticon.es/iconos-gratis/marcador" title="marcador (1) iconos"></a>
    <script async src="./assets/js/nav_footer.js"></script>
    <title>Tecno Flow</title>
</head>
<body>
 
  <div class="contenedorheader">
    <header class="header">
    </header>
  </div>
 
    <main>
        <section class="questions container"> 
            <h1 class="titulo">Preguntas Frecuentes</h1>
              <img src="assets/media/img/pexels-tom-swinnen-1309766.jpg" class="prop_img">
            
            
            <section class="questions_container">
              <article class="questions_padding">
                 <div class="questions_answer">
                     <h2 class="questions_title">¿Cúal es su política de devolución?
                       <span class="questions_arrow">
                         <img src="assets/media/img/marcador (1).png" class="questions_img">
                     </h2>
                     <p class="questions_show">La empresa permite devoluciones de productos dentro de los 14 días posteriores a la fecha de compra, siempre y cuando el producto esté en su estado original y sin abrir. Si el producto se ha utilizado, pero se encuentra en buenas condiciones, se puede devolver dentro de los 30 días posteriores a la fecha de compra.</p>
                 </div>
                </article> 
                
                
                <article class="questions_padding">
                 <div class="questions_answer">
                     <h2 class="questions_title">¿Ofrecen garantía en sus productos?
                       <span class="questions_arrow">
                         <img src="assets/media/img/marcador (1).png" class="questions_img">
                       </span>
                     </h2>
                     <p class="questions_show">Sí, ofrecemos garantías en nuestros productos para asegurar la satisfacción del cliente y protegerlos de posibles defectos de fabricación. Cada producto que vendemos viene con garantía específica que cubre la reparación o el reemplazo del producto si presenta algún problema dentro de un período de tiempo específico despúes de la compra.</p>
                 </div>
                </article>
                
                <article class="questions_padding">
                 <div class="questions_answer">
                     <h2 class="questions_title">¿Pueden ayudarme a elegir el mejor producto para mis necesidades?
                       <span class="questions_arrow">
                         <img src="assets/media/img/marcador (1).png" class="questions_img">
                       </span>
                     </h2>
                    <p class="questions_show">¡Claro que sí! Como empresa, estamos aquí para ayudarle a encontrar el producto que mejor se adapte a sus necesidades. Para ello, es importante que nos proporcione información detallada sobre lo que está buscando y para qué lo necesita. Una vez tengamos esa información , podremos recomendarle los productos que mejor se adapten a sus necesidades y presupuesto. Además si tiene alguna pregunta adicional o necesita ayuda para entender mejor las características y especificaciones técnicas de los productos, nuestro equipo de atención al cliente estará encantado de ayudarle. ¡Gracias por elegirnos!</p>
                 </div>
                </article> 
             </section>
       </main>

       <footer class="footer"> </footer>
   
          <script src="./assets/js/nav_footer.js"></script>
          
</body>
</html>