<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="assets/media/img/logonuevo3.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Roboto&display=swap" rel="stylesheet">
    <script async src="./assets/js/nav_footer.js"></script>
    <script src="./assets/js/seccioncelus.js"></script>

    <link rel="stylesheet" href="./assets/css/style.css">
   <link rel="stylesheet" href="./assets/css/productos.css">
   <script src="https://kit.fontawesome.com/d9e9994d5f.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="contenedorheader">
    <header class="header"></header>
    </div>  
    <div class="container">
    
        <article>
            <div class="celusg sgs22" id="sgs22">
            <div class = "containerflex">
                <div class="imagenproducto">
            <img src="./assets/media/img/CELULAR-SAMSUNG-GALAXY-S22-128GB-BLANCO.jpg" alt="" srcset="aca va celu samsumg :D">
            </div>
            <div class="descripcion_1">
            <div class="iconosflex">
            <span><i class="fa-solid fa-truck-fast fa-flip-horizontal fa-xl" style="color: #00a650;"></i></span>
            <span class="envio">Envio con normalidad</span></div>
            <span class="precio">$ 284.999</span>
            <div class="iconosflex">
            <span><i class="fa-solid fa-rotate-right fa-xl" style="color: #00a650;"></i></span>
            <span class="precio-envio">Devolucion gratis en la primera compra</span></div>
            <br>
            <span><a href="./gracias.html">Compra aqui!</a></span>
            </div> </div>
            <div class = "container2">
            <div class="descripcion_1">
            <span><h1>Descripcion</h1></span>
            <span><h1>Samsung Galaxy S22</h1></span>
            <span> <h2>Pantalla Amoled en el Samsung Galaxy S22</h2>
            Adiós, resplandor. Luz solar, conoce la pantalla brillante del Galaxy S22 y la pantalla más brillante del Galaxy S22+. Las asombrosas pantallas Infinity-O de 120 Hz están diseñadas con Dynamic AMOLED 2X con tecnología Vision Booster para una alta visibilidad al aire libre, lo que mantiene la vista nítida a plena luz del día o de noche. Ahora el único resplandor que verás será el de las cámaras de los celosos.
            </span>
            <span> <h2>Ahora te movés y ya no importa</h2> 
            Compartí fotos, videos y archivos entre dispositivos con un toque usando Quick Share.Abrí el panel para compartir, apuntá tu smartphone y presioná enviar.
           </span>
           <span><h2>Chip dinámico en el S22</h1>
             Un chip más rápido que nunca en Galaxy. Ya sea que estés haciendo vlogs de tu día, jugando toda la noche o simplemente desplazándote por tus publicaciones, el procesador de 4 nm te brinda una experiencia increíblemente fluida.
             Disfrutá la noche sin necesidad de cables. La vida no disminuye su ritmo y tomar un descanso para recargar energía es una vía rápida para la ansiedad de estar desconectado. La batería se adapta de manera inteligente a la forma en que usás tu smartphone, por lo que dura más de 24 horas
            </span>
            <br>
            
           </div> </div></div>
    
    
        <article>
            <div class="celusg sga13" id="sga13">
            <div class = "containerflex" >
                <div class="imagenproducto">
            <img src="./assets/media/img/a13.jpg" alt="" srcset="aca va celu samsumg :D">
            </div>
            <div class="descripcion_1">
                <div class="iconosflex">
                <span><i class="fa-solid fa-truck-fast fa-flip-horizontal fa-xl" style="color: #00a650;"></i></span>
                <span class="envio">Envio con normalidad</span></div>
                <span class="precio">$ 284.999</span>
                <div class="iconosflex">
                <span><i class="fa-solid fa-rotate-right fa-xl" style="color: #00a650;"></i></span>
                <span class="precio-envio">Devolucion gratis en la primera compra</span></div>
                <br>
                <span><a href="./gracias.html">Compra aqui!</a></span>
                </div> </div>
                <div class = "container2">
                <div class="descripcion_1">
                <span><h1>Descripcion</h1></span>
                <span><h1>Samsung Galaxy A13</h1></span>
                <span> <h2>MÁS PANTALLA SIGNIFICA MÁS ESPACIO PARA JUGAR</h2>
                    Ampliá tu vista con la pantalla Infinity-V de 6,6 pulgadas del Galaxy A13 y mirá lo que te habías estado perdiendo. Y con la tecnología FHD+, tu contenido diario se ve más nítido y claro.
                </span>
                <span> <h2>MEJORÁ TU FOTOGRAFÍA MÓVIL CON QUAD CAMERA</h2> 
                    Capturá momentos memorables con detalles claros con la cámara principal de 50MP. Ampliá el ángulo de visión con la cámara ultraancha. Personalizá el enfoque con la cámara de profundidad o acércate a los detalles con la cámara macro.
               </span>
               <span><h2>EXCELENTE BATERÍA, DURA DOS DÍAS</h1>
                EXCELENTE BATERÍA, DURA DOS DÍAS
                </span>
                <br>
                
               </div> </div></div>
        </article>
    
  
    
        <article>

            <div class="celusg sga33" id="sga33">
        
            <div class = "containerflex" >
                <div class="imagenproducto">
            <img src="./assets/media/img/CELULAR-SAMSUNG-GALAXY-A33-5G-128GB-NEGRO-1.jpg" alt="" srcset="aca va celu samsumg :D"></div>
            <div class="descripcion_1">
                <div class="iconosflex">
                <span><i class="fa-solid fa-truck-fast fa-flip-horizontal fa-xl" style="color: #00a650;"></i></span>
                <span class="envio">Envio con normalidad</span></div>
                <span class="precio">$ 284.999</span>
                <div class="iconosflex">
                <span><i class="fa-solid fa-rotate-right fa-xl" style="color: #00a650;"></i></span>
                <span class="precio-envio">Devolucion gratis en la primera compra</span></div>
                <br>
                <span><a href="./gracias.html">Compra aqui!</a></span>
                </div> </div>
                <div class = "container2">
                <div class="descripcion_1">
                 <span><h1>Descripcion</h1></span>
                    <span><h1>Celular Samsung Galaxy A33 </h1></span>
                    <span> <h2>Gran capacidad de almacenamiento</h2>
                        Alimentado con un procesador Octa-core de 5 nm, tu Galaxy está diseñado para manejar múltiples tareas. RAM Plus lee tus patrones de uso y proporciona RAM virtual adicional en los momentos que necesitás un impulso adicional.
                    </span>
                    <span> <h2>Mejor procesamiento en el Samsung Galaxy A33 5g</h2> 
                        Capturá momentos memorables con detalles claros con la cámara principal de 50MP. Ampliá el ángulo de visión con la cámara ultraancha. Personalizá el enfoque con la cámara de profundidad o acércate a los detalles con la cámara macro.
                   </span>
                   <span><h2>Resiste el polvo y las salpicaduras</h1>
                    Con clasificación IP67 de resistencia al agua y al polvo, el Galaxy A33 5G resiste hasta 1,0 metros de agua dulce durante hasta 30 minutos. Con la protección adicional de Gorilla Glass 5, tu dispositivo es más resistente y menos propenso a los rayones.
                    </span>
                    <br>
                    
                   </div> </div></div>
        
        </article>
    

        <article>
                <div class="celusg sga23" id="sga23">
        
                <div class = "containerflex" >
                    <div class="imagenproducto">
                <img src="./assets/media/img/a23-17.jpg" alt="" srcset="aca va celu samsumg :D"></div>
                <div class="descripcion_1">
                    <div class="iconosflex">
                    <span><i class="fa-solid fa-truck-fast fa-flip-horizontal fa-xl" style="color: #00a650;"></i></span>
                    <span class="envio">Envio con normalidad</span></div>
                    <span class="precio">$ 284.999</span>
                    <div class="iconosflex">
                    <span><i class="fa-solid fa-rotate-right fa-xl" style="color: #00a650;"></i></span>
                    <span class="precio-envio">Devolucion gratis en la primera compra</span></div>
                    <br>
                    <span><a href="./gracias.html">Compra aqui!</a></span>
                    </div> </div>
                    <div class = "container2">
                    <div class="descripcion_1">
                 <span><h1>Descripcion</h1></span>
                    <span><h1>Celular Samsung Galaxy A23</h1></span>
                    <span> <h2>Mayor rendimiento</h2>
                        Su memoria RAM de 4 GB permite que tu smartphone funcione de manera fluida y sin demoras al realizar distintas tareas, jugar o navegar.
                    </span>
                    <span> <h2>Desbloqueo facial y dactilar</h2> 
                        Máxima seguridad para que solo vos puedas acceder al equipo. Podrás elegir entre el sensor de huella dactilar para habilitar el teléfono en un toque, o el reconocimiento facial que permite un desbloqueo hasta un 30% más rápido.
                   </span>
                   <span><h2>Batería de duración superio</h1>
                    ¡Desenchufate! Con la súper batería de 5000 mAh tendrás energía por mucho más tiempo para jugar, ver series o trabajar sin necesidad de realizar recargas.
                    </span>
                    <br>
                    
                   </div> </div></div>
                
        </article>
  
        <article>
            <div class="celusg sgs20" id="sgs20">
        
                <div class = "containerflex" >
                    <div class="imagenproducto">
                <img src="./assets/media/img/CELULAR-SAMSUNG-GALAXY-S20-FE-5G-128GB-AZUL.jpg" alt="" srcset="aca va celu samsumg :D"></div>
                <div class="descripcion_1">
                    <div class="iconosflex">
                    <span><i class="fa-solid fa-truck-fast fa-flip-horizontal fa-xl" style="color: #00a650;"></i></span>
                    <span class="envio">Envio con normalidad</span></div>
                    <span class="precio">$ 284.999</span>
                    <div class="iconosflex">
                    <span><i class="fa-solid fa-rotate-right fa-xl" style="color: #00a650;"></i></span>
                    <span class="precio-envio">Devolucion gratis en la primera compra</span></div>
                    <br>
                    <span><a href="./gracias.html">Compra aqui!</a></span>
                    </div> </div>
                    <div class = "container2">
                    <div class="descripcion_1">
                <span><h1>Descripcion</h1></span>
                    <span><h1>Celular Samsung Galaxy s20</h1></span>
                    <span> <h2>Experiencia visual increíble</h2>
                        Mirá tus series y películas favoritas con la mejor definición a través de su pantalla Super AMOLED de 6.5″. Disfrutá de colores brillantes y detalles precisos en todos tus contenidos.
                    </span>
                    <span> <h2>Capacidad y eficiencia</h2> 
                        Con su potente procesador y memoria RAM de 6 GB tu equipo alcanzará un alto rendimiento con gran velocidad de transmisión de contenidos y ejecutará múltiples aplicaciones a la vez sin demoras.
                   </span>
                   <span><h2>Batería de duración superior</h1>
                    ¡Desenchufate! Con la súper batería de 5000 mAh tendrás energía por mucho más tiempo para jugar, ver series o trabajar sin necesidad de realizar recargas.
                    </span>
                    <br>
                    
                   </div> </div></div>
                
        </article>
    
        <article>
            <div class="celumoto me32" id="me32">
                <div class = "containerflex" >
                    <div class="imagenproducto">
                <img src="./assets/media/img/motoe32-1.jpg " alt="" srcset="aca va celu moto :D"></div>
                <div class="descripcion_1">
                <div class="iconosflex">
                <span><i class="fa-solid fa-truck-fast fa-flip-horizontal fa-xl" style="color: #00a650;"></i></span>
                <span class="envio">Envio con normalidad</span></div>
                <span class="precio">$ 284.999</span>
                <div class="iconosflex">
                <span><i class="fa-solid fa-rotate-right fa-xl" style="color: #00a650;"></i></span>
                <span class="precio-envio">Devolucion gratis en la primera compra</span></div>
                <br>
                <span><a href="./gracias.html">Compra aqui!</a></span>
                </div> </div>
                <div class = "container2">
                <div class="descripcion_1">
            <span><h1>Descripcion</h1></span>
                <span><h1>Celular Motorola e32</h1></span>
                <span> <h2>Experiencia visual increíble</h2>
                    Mirá tus series y películas favoritas con la mejor definición a través de su pantalla Super AMOLED de 6.5″. Disfrutá de colores brillantes y detalles precisos en todos tus contenidos.
                </span>
                <span> <h2>Capacidad y eficiencia</h2> 
                    Con su potente procesador y memoria RAM de 6 GB tu equipo alcanzará un alto rendimiento con gran velocidad de transmisión de contenidos y ejecutará múltiples aplicaciones a la vez sin demoras.
               </span>
               <span><h2>Batería de duración superior</h1>
                ¡Desenchufate! Con la súper batería de 5000 mAh tendrás energía por mucho más tiempo para jugar, ver series o trabajar sin necesidad de realizar recargas.
                </span>
                <br>
                
               </div> </div></div>    
                
        </article>
  
        <article>
            <div class="celumoto me13" id="me13">
                <div class = "containerflex" >
                <div class="imagenproducto">
                <img src="./assets/media/img/motoe13.png" alt="" srcset="aca va celu moto :D"></div>
            <div class="descripcion_1">
                <div class="iconosflex">
                <span><i class="fa-solid fa-truck-fast fa-flip-horizontal fa-xl" style="color: #00a650;"></i></span>
                <span class="envio">Envio con normalidad</span></div>
                <span class="precio">$ 284.999</span>
                <div class="iconosflex">
                <span><i class="fa-solid fa-rotate-right fa-xl" style="color: #00a650;"></i></span>
                <span class="precio-envio">Devolucion gratis en la primera compra</span></div>
                <br>
                <span><a href="./gracias.html">Compra aqui!</a></span>
                </div> </div>
                <div class = "container2">
                <div class="descripcion_1">
            <span><h1>Descripcion</h1></span>
                <span><h1>Celular Motorola Moto E13</h1></span>
                <span> <h2>Lo que tenés que saber de este Motorola</h2>
                    El nuevo Moto E13 que tiene un diseño fino, ligero y llamativo, es todo un espectáculo. El audio Dolby Atmos multidimensional y la pantalla HD+ ultraancha de 6,5” recrean verdaderas experiencias cinematográficas. Pasa horas y horas viendo tu contenido preferido gracias a la batería de 5000 mAh.
                </span>
                <span> <h2>Capacidad y eficiencia</h2> 
                    Disfruta de una conectividad rápida, videollamadas sin interrupciones, funciones avanzadas de fotografía y mucho más con un procesador de ocho núcleos con un rendimiento superior. Y personaliza tu experiencia con la última versión de Android.
               </span>
                <br>
                
               </div> </div></div>    

        </article>
   
        <article>
            <div class="celumoto mg9" id="mg9">
                <div class = "containerflex" >
                <div class="imagenproducto">
                <img src="./assets/media/img/mg9.jpg" alt="" srcset="aca va celu moto :D"></div>
                       
                <div class="descripcion_1">
                    <div class="iconosflex">
                    <span><i class="fa-solid fa-truck-fast fa-flip-horizontal fa-xl" style="color: #00a650;"></i></span>
                    <span class="envio">Envio con normalidad</span></div>
                    <span class="precio">$ 284.999</span>
                    <div class="iconosflex">
                    <span><i class="fa-solid fa-rotate-right fa-xl" style="color: #00a650;"></i></span>
                    <span class="precio-envio">Devolucion gratis en la primera compra</span></div>
                    <br>
                    <span><a href="./gracias.html">Compra aqui!</a></span>
                    </div> </div>
                    <div class = "container2">
                    <div class="descripcion_1">
                <span><h1>Descripcion</h1></span>
                    <span><h1>Motorola Moto G9 Power</h1></span>
                    <span> <h2>Fotografía profesional en tu bolsillo</h2>
                        Descubrí infinitas posibilidades para tus fotos con las 3 cámaras principales de tu equipo. Poné a prueba tu creatividad y jugá con la iluminación, diferentes planos y efectos para obtener grandes resultados.
                    </span>
                    <span> <h2>Mayor rendimiento</h2> 
                        Su memoria RAM de 4 GB permite que tu smartphone funcione de manera fluida y sin demoras al realizar distintas tareas, jugar o navegar.
                   </span>
                   <span> <h2>Batería de duración superior</h2> 
                    Desenchufate! Con la súper batería de 6000 mAh tendrás energía por mucho más tiempo para jugar, ver series o trabajar sin necesidad de realizar recargas.
                  </span>
                    <br>
                    
                   </div> </div></div> 
  
            <article>
            <div class="celumoto mg32" id="mg32">
                <div class = "containerflex" >
                <div class="imagenproducto">
                <img src="./assets/media/img/CELULAR-MOTOROLA-MOTO-G32-128GB-PLATA-SATINADO.jpg" alt="" srcset="aca va celu moto :D"></div>
                <div class="descripcion_1">
                    <div class="iconosflex">
                    <span><i class="fa-solid fa-truck-fast fa-flip-horizontal fa-xl" style="color: #00a650;"></i></span>
                    <span class="envio">Envio con normalidad</span></div>
                    <span class="precio">$ 284.999</span>
                    <div class="iconosflex">
                    <span><i class="fa-solid fa-rotate-right fa-xl" style="color: #00a650;"></i></span>
                    <span class="precio-envio">Devolucion gratis en la primera compra</span></div>
                    <br>
                    <span><a href="./gracias.html">Compra aqui!</a></span>
                    </div> </div>
                    <div class = "container2">
                    <div class="descripcion_1">
                <span><h1>Descripcion</h1></span>
                    <span><h1>Motorola Moto G32</h1></span>
                    <span> <h2>Gran capacidad de almacenamiento</h2>
                        Don su memoria interna de 128 GB podrás almacenar archivos y aplicaciones de gran tamaño sin necesidad de subirlos a la nube y aprovechar tus momentos sin conexión para darles el máximo uso.
                    </span>
                    <span> <h2>Mayor rendimiento</h2> 
                        Su memoria RAM de 4 GB permite que tu smartphone funcione de manera fluida y sin demoras al realizar distintas tareas, jugar o navegar.
                   </span><br>
                    
                   </div> </div></div>    

            </article>
  
            <article>
            <div class="celumoto mg42" id="mg42">
                <div class = "containerflex" >
                    <div class="imagenproducto">
                <img src="./assets/media/img/mg42.jpg" alt="" srcset="aca va celu moto :D"></div>
                <div class="descripcion_1">
                    <div class="iconosflex">
                    <span><i class="fa-solid fa-truck-fast fa-flip-horizontal fa-xl" style="color: #00a650;"></i></span>
                    <span class="envio">Envio con normalidad</span></div>
                    <span class="precio">$ 284.999</span>
                    <div class="iconosflex">
                    <span><i class="fa-solid fa-rotate-right fa-xl" style="color: #00a650;"></i></span>
                    <span class="precio-envio">Devolucion gratis en la primera compra</span></div>
                    <br>
                    <span><a href="./gracias.html">Compra aqui!</a></span>
                    </div> </div>
                    <div class = "container2">
                    <div class="descripcion_1">
                <span><h1>Descripcion</h1></span>
                    <span><h1>Motorola Moto G42</h1></span>
                    <span> <h2>Fotografía profesional en tu bolsillo</h2>
                        Descubrí infinitas posibilidades para tus fotos con las 3 cámaras principales de tu equipo. Poné a prueba tu creatividad y jugá con la iluminación, diferentes planos y efectos para obtener grandes resultados.
                    </span>
                    <span> <h2>Desbloqueo facial y dactilar</h2> 
                        Máxima seguridad para que solo vos puedas acceder al equipo. Podrás elegir entre el sensor de huella dactilar para habilitar el teléfono en un toque, o el reconocimiento facial que permite un desbloqueo hasta un 30% más rápido
                   </span><br>
                    
                   </div> </div></div> 
     
            <article>
                <div class="celumoto me22" id="me22">
                    <div class = "containerflex" >
                        <div class="imagenproducto">
                    <img src="./assets/media/img/me22.jpg" alt="" srcset="aca va celu samsumg :D"></div>
                    <div class="descripcion_1">
                        <div class="iconosflex">
                        <span><i class="fa-solid fa-truck-fast fa-flip-horizontal fa-xl" style="color: #00a650;"></i></span>
                        <span class="envio">Envio con normalidad</span></div>
                        <span class="precio">$ 284.999</span>
                        <div class="iconosflex">
                        <span><i class="fa-solid fa-rotate-right fa-xl" style="color: #00a650;"></i></span>
                        <span class="precio-envio">Devolucion gratis en la primera compra</span></div>
                        <br>
                        <span><a href="./gracias.html">Compra aqui!</a></span>
                        </div> </div>
                        <div class = "container2">
                        <div class="descripcion_1">
                    <span><h1>Descripcion</h1></span>
                        <span><h1>Motorola Moto E22</h1></span>
                        <span> <h2>Doble cámara y más detalles</h2>
                            Sus 2 cámaras traseras de 16 Mpx/2 Mpx te permitirán tomar imágenes con más detalles y lograr efectos únicos como el famoso modo retrato de poca profundidad de campo.

                    Además, el dispositivo cuenta con cámara frontal de 5 Mpx para que puedas sacarte divertidas selfies o hacer videollamadas.
                    
                        </span>
                        <span> <h2>Más para ver</h2> 
                            Con su pantalla IPS de 6.5″, disfrutá de colores intensos y mayor nitidez en todos tus contenidos.
                       </span><br>
                        
                       </div> </div></div> 
        
            </article>
    </div>

<footer class="footer"></footer>
<script src="./assets/js/seccion.js"></script>
<script src="./assets/js/nav_footer.js"></script>
<script src="./assets/js/seccioncelus.js"></script>
</body>
</html>